body {
    background-color: #121212;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.game-container {
    display: flex;
    width: 900px;
    height: 600px;
    background: #1e1e1e;
    border: 4px solid #4CAF50;
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(7, 175, 80, 0.2);
    position: relative;
    overflow: hidden;
}

.main-selection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #333;
    background: radial-gradient(circle, #2a2a2a 0%, #1e1e1e 100%);
}

#score {
    font-size: 56px;
    color: #ffd700;
    text-shadow: 0 0 15px rgba(255, 215, 0, 0.5);
    font-weight: bold;
}

.per-second {
    color: #888;
    margin-top: 10px;
    font-size: 18px;
}

.coin-container {
    margin-top: 50px;
    cursor: pointer;
    transition: transform 0.05s;
}

.coin-container:active {
    transform: scale(0.95);
}

.fallback-coin {
    width: 200px;
    height: 200px;
    background: linear-gradient(135deg, #ffd700, #ff8c00);
    border-radius: 50%;
    color: #fff;
    font-size: 100px;
    text-align: center;
    line-height: 200px;
    font-weight: bold;
    box-shadow: 0 10px 20px rgba(0,0,0, 0.5);
    border: 5px solid #fff;
}

.shop-section {
    flex: 0.8;
    padding: 20px;
    background: #181818;
    overflow-y: auto; 
}

h1 { margin-bottom: 5px }
h2 { border-bottom: 1px solid #333; padding-bottom: 10px }

/* Стили для карточек товара */
.shop-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2a2a;
    color: #fff;
    border: 2px solid #444;
    border-radius: 8px;
    padding: 10px 20px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.shop-item:hover {
    background-color: #333;
}

.shop-item .info h3 {
    margin: 0 0 5px 0;
    font-size: 16px;
}

.shop-item .info p {
    margin: 0;
    font-size: 12px;
    color: #aaa;
}

.shop-item .price {
    font-weight: bold;
    font-size: 18px;
}

/* Класс для неактивной кнопки */
.disabled {
    opacity: 0.5;
    pointer-events: none;
    background-color: #222;
}

/* --- ЭФФЕКТЫ (Particles) --- */

/* Сам текст который будет летать*/
.float-text {
    position: absolute; /* Позиция зависит от координат мыши*/
    color: #ffd700;     /* Золотой цвет */
    font-weight: bold;
    font-size: 24px;
    pointer-events: none; /* Чтобы текст не мешал кликам */
    user-select: none; /* Запрет на выделение текста */

    /* Запускаем анимацию длительностью в секунду */
    animation: floatUp 1s ease-out forwards;
}

/* Анимация для текста */
@keyframes floatUp {
    0% {
        transform: translateY(0) scale(1); /* Старт на месте */
        opacity: 1; /* Полная видимость */
    }
    100% {
        transform: translateY(-100px) scale(1.5); /* Поднимается вверх и увеличивается */
        opacity: 0; /* Исчезает */
    }
}

/* --- КНОПКА В УГЛУ (Новые стили) --- */

.upgrade-corner {
    position: absolute;  /* Разрешаем свободное перемещение */
    bottom: 30px;        /* Отступ от НИЗА */
    left: 30px;          /* Отступ СЛЕВА */
    z-index: 100;        /* Поверх всего */
}

.fancy-upgrade-btn {
    background: linear-gradient(45deg, #FFD700, #FF8C00);
    border: 2px solid #fff;
    border-radius: 12px;
    padding: 12px 5px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.2s;
}

.fancy-upgrade-btn:hover {
    transform: translateY(-3px);
}

.fancy-upgrade-btn:disabled {
    background: #333;
    color: #888;
    border-color: #555;
    cursor: default;
    transform: none;
}

/* --- СИСТЕМА СОБЫТИЙ (НОВОСТИ) */

#news-banner {
    position: absolute;
    top: 20px;
    left: 50%; /* Центрируем */
    transform: translatex(-50%); /* Поправка центровки */
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    text-align: center;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

    /* Анимация появления */
    transition: top 0.5s ease-in-out, opacity 0.5s;
}

/* Когда новость скрыта (улетает вверх) */

.news-hidden {
    top: -100px !important; /* Прячем за экран */
    opacity: 0;
}

/* Стиль для хорошей новости */

.news-good {
    background: linear-gradient(90deg, #1d976c, #93f9b9);
    border: 2px solid #fff;
}

/* Стиль для плохой новости */

.news-bad {
    background: linear-gradient(90deg, #eb3349, #f45c43);
    border: 2px solid #fff;
}

/* --- Скроллбар для магазина */

/* 1. Настраиваем ширину полосы */
.shop-section::-webkit-scrollbar {
    width: 8px;
}

/* 2. Настраиваем "рельсу" (фон, по которому ездит ползунок) */
.shop-section::-webkit-scrollbar-track {
    background: #111;
    border-radius: 4px;
}

/* 3. Настраиваем сам "ползунок" */
.shop-section::-webkit-scrollbar-thumb {
    background: #444;
    broder-radius: 4px;
    border: 2px solid #111;
}

/* 4. Эффект при наведении мышкой на ползунок */
.shop-section::-webkit-scrollbar-thumb:hover {
    background: #4caf50;
    cursor: pointer;
}